# Archivos de Documentación y Diagramas
# -------------------------------------------
auth-flow.md

# -------------------------------------------


# Dependencias
node_modules/

# Archivos de compilación y de salida
dist/
build/
out/

# Archivos de configuración y secretos
.env
.env.local
config.js
secrets.js

# Archivos de registro
*.log
npm-debug.log*
yarn-debug.log*

# Archivos de sistema y editores
.DS_Store
.vscode/

#El archivo de espacio de trabajo de vscode
mi-app-de-notas-web.code-workspace