# Este es un archivo de ejemplo para las variables de entorno del backend.
# Para el desarrollo local, copia este archivo a uno nuevo llamado .env
# y reemplaza los valores de ejemplo con tus propias claves.

# --- Configuración del Servidor ---
PORT=5001
FRONTEND_URL=http://localhost:5173

# --- Base de Datos ---
MONGO_URI=mongodb://localhost:27017/mi_app_taskboard2

# --- Autenticación ---
JWT_SECRET=UN_SECRETO_MUY_SEGURO_PARA_JWT

# --- Google OAuth ---
GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=TU_GOOGLE_CLIENT_SECRET

# --- Cloudinary (Almacenamiento de Imágenes) ---
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME
CLOUDINARY_API_KEY=TU_API_KEY
CLOUDINARY_API_SECRET=TU_API_SECRET
DEFAULT_WALLPAPER_URL=https://res.cloudinary.com/drljxouhe/image/upload/v1762161290/wallpaper-0_y7ewia.webp

# --- Nodemailer (Envío de Correos) ---
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASS=tu-contraseña-de-aplicacion-de-gmail