/* frontend/src/components/Background.css */
.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -10;
    /* Asegura que esté detrás de todo */
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    /* Duración de la transición */
}

.background-layer.active {
    opacity: 1;
}