.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f8fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  text-align: center;
}

.login-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.login-box h1 {
  font-size: 1.8rem;
  color: #24292e;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #586069;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-group input:focus {
  outline: none;
  border-color: #0366d6;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}






/* password show button */
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; /* Espacio para el icono */
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #24292e;
}




.error-message {
  color: #d73a49;
  font-size: 14px;
}

.submit-button, .google-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

.submit-button:hover, .google-button:hover {
  opacity: 0.9;
}

.submit-button {
  background-color: #2ea44f;
  color: white;
}

.submit-button:active, .google-button:active {
  transform: scale(0.98);
}

.google-button {
  background-color: #4285F4;
  color: white;
  border: 1px solid transparent;
}

.divider {
  margin: 24px 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
}

.divider::before, .divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}



.auth-switch {
  margin-top: 24px;
  font-size: 14px;
  color: #586069;
}

.auth-switch span {
  color: #0366d6;
  font-weight: 600;
  cursor: pointer;
}